#Database
DB_HOST="localhost"
DB_USER="root"
DB_PASS=""
DB_NAME="crawl_news"

#API Keys (ex)
GEMINI_API_KEY="YOUR_GEMINI_API_KEY_HERE"
GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID_HERE"
GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_CLIENT_SECRET_HERE"
OPENWEATHERMAP_API_KEY="YOUR_OPENWEATHERMAP_API_KEY_HERE"

#JSON URL GGSHEET (ex)
JSON_URL_SHEET="YOUR_JSON_GG_SHEET_HERE"

#SEPAY (ex)
SEPAY_TOKEN="SEPAY_TOKEN_HERE"

#MAILER
MAIL_HOST="smtp.gmail.com"
MAIL_USERNAME="GMAIL_USER_HERE"
MAIL_PASSWORD="GMAIL_PASSWORD_HERE"
MAIL_PORT=465
MAIL_FROM_NAME="Vertex"