# System Files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# Environment
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
BE/crawl_news.sql
*.sql

# Build
build/
.cache/
